[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ninanetti
[access "refs/for/refs/*"]
	read = group user/ninanetti
	push = group user/ninanetti
	label-Code-Review = -2..+2 group user/ninanetti
	label-Verified = -1..+1 group user/ninanetti
	rebase = group user/ninanetti
	removeReviewer = group user/ninanetti
	submit = group user/ninanetti
[access "refs/heads/*"]
	read = group user/ninanetti
	create = group user/ninanetti
	push = +force group user/ninanetti
	pushMerge = group user/ninanetti
[access "refs/tags/*"]
	push = +force group user/ninanetti
	pushTag = group user/ninanetti
	pushSignedTag = group user/ninanetti
